* {
  box-sizing: border-box;
  margin: 50;
  padding: 10;
  font-family: 'PT Sans', sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.todo-add-button {
  margin-left:5px;
  padding-top: 3px;
  cursor: pointer;
}
.todo {
  display: flex;
  justify-content:start;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
}
.complete-todo {
  cursor: pointer;
}
.remove-todo {
  cursor: pointer;
}
.todo-done {
  color: skyblue;
  text-decoration: line-through;
  display: flex;
  justify-content:start;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
}
.todo-buttons{
  color: black;
}
.todo-count{
  font-size: 10px;
  
}